@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  background-color: blue;
}

@media screen and (max-width: 760px) {
  body {
    font-size: 1rem;
  }
}

input {
  width: 100%;
  line-height: 1.5em;
  border-right: 0px;
  border-color: beige;
  padding-left: 5px;
  border-width: 2px;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  &:focus {
    border-color: ghostwhite;
  }
}

button {
  font-size: 1rem;
  background-color: none;
  border: none;
  padding: 0 25px;
  &.login {
    width: 100%;
    padding: 5px;
    color: white;
    background-color: rgba(100, 223, 115, 0.8);
    border: 2px solid rgba(32, 157, 47, 1);
    font-weight: bolder;
    &:focus,
    &:active,
    &:hover {
      background-color: rgba(52, 173, 66, 0.8);
      border: 2px solid rgba(100, 223, 115, 0.8);
    }
  }
}
